In [14]:
import pandas as pd

In [15]:
df_description = pd.read_csv("DataSet/column_descriptions.csv")
df_description

,unnamed: 0,table,row,description,special
0,1,loan_applications.csv,SK_ID_CURR,ID of loan in our sample,NaN
1,2,loan_applications.csv,TARGET,Target variable (1 - client with payment diffi...,NaN
2,5,loan_applications.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
3,6,loan_applications.csv,CODE_GENDER,Gender of the client,NaN
4,7,loan_applications.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN
...,...,...,...,...,...
214,217,repayment_history.csv,NUM_INSTALMENT_NUMBER,On which installment we observe payment,NaN
215,218,repayment_history.csv,DAYS_INSTALMENT,When the installment of previous credit was su...,time only relative to the application
216,219,repayment_history.csv,DAYS_ENTRY_PAYMENT,When was the installments of previous credit p...,time only relative to the application
217,220,repayment_history.csv,AMT_INSTALMENT,What was the prescribed installment amount of ...,NaN
218,221,repayment_history.csv,AMT_PAYMENT,What the client actually paid on previous cred...,NaN

In [16]:
loan_application_test = pd.read_csv('DataSet/loan_applications_test.csv')
previous_loan_applications = pd.read_csv('DataSet/previous_loan_applications.csv')

merged_loan_data = pd.merge(loan_application_test, previous_loan_applications, on='sk_id_curr', how='left')

In [17]:
previous_credits = pd.read_csv('DataSet/previous_credits.csv')

merged_loan_data.merge(previous_credits, on='sk_id_curr', how='left')

,sk_id_curr,name_contract_type_x,code_gender,flag_own_car,flag_own_realty,cnt_children,amt_income_total,amt_credit_x,amt_annuity_x,amt_goods_price_x,...,days_enddate_fact,amt_credit_max_overdue,cnt_credit_prolong,amt_credit_sum,amt_credit_sum_debt,amt_credit_sum_limit,amt_credit_sum_overdue,credit_type,days_credit_update,amt_annuity
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,-553.0,NaN,0.0,112500.00,0.000,0.000,0.0,Consumer credit,-155.0,0.000
1,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,-877.0,NaN,0.0,279720.00,0.000,0.000,0.0,Consumer credit,-155.0,0.000
2,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,-544.0,NaN,0.0,91620.00,0.000,0.000,0.0,Consumer credit,-155.0,0.000
3,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,-1328.0,NaN,0.0,85500.00,0.000,0.000,0.0,Consumer credit,-155.0,0.000
4,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,NaN,NaN,0.0,337680.00,113166.000,0.000,0.0,Consumer credit,-6.0,4630.500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1582674,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,NaN,0.0,0.0,2153110.05,1840308.480,0.000,0.0,Consumer credit,-23.0,51799.500
1582675,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,NaN,0.0,0.0,450000.00,391731.615,58268.385,0.0,Credit card,-31.0,27757.395
1582676,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,-760.0,NaN,0.0,483349.50,0.000,0.000,0.0,Consumer credit,-127.0,384147.000
1582677,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,NaN,0.0,0.0,2153110.05,1840308.480,0.000,0.0,Consumer credit,-23.0,51799.500
1582678,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,NaN,0.0,0.0,450000.00,391731.615,58268.385,0.0,Credit card,-31.0,27757.395

In [18]:
previous_credit_cards = pd.read_csv('DataSet/previous_credit_cards.csv')

merged_loan_data.merge(previous_credit_cards, on='sk_id_curr', how='left')

,sk_id_curr,name_contract_type_x,code_gender,flag_own_car,flag_own_realty,cnt_children,amt_income_total,amt_credit_x,amt_annuity_x,amt_goods_price_x,...,amt_recivable,amt_total_receivable,cnt_drawings_atm_current,cnt_drawings_current,cnt_drawings_other_current,cnt_drawings_pos_current,cnt_instalment_mature_cum,name_contract_status_y,sk_dpd,sk_dpd_def
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,101830.860,101830.860,0.0,0.0,0.0,0.0,14.0,Active,0.0,0.0
4,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0.000,0.000,0.0,0.0,0.0,0.0,22.0,Active,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4449573,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,174435.885,174435.885,0.0,0.0,0.0,0.0,4.0,Active,0.0,0.0
4449574,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,176958.900,176958.900,0.0,0.0,0.0,0.0,3.0,Active,0.0,0.0
4449575,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,171000.000,171000.000,7.0,7.0,0.0,0.0,0.0,Active,0.0,0.0
4449576,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,196581.915,196581.915,1.0,1.0,0.0,0.0,0.0,Active,0.0,0.0
4449577,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,179866.260,179866.260,0.0,0.0,0.0,0.0,2.0,Active,0.0,0.0

In [19]:
previous_pos_cash_loans = pd.read_csv('DataSet/previous_pos_cash_loans.csv')

merged_loan_data.merge(previous_pos_cash_loans, on='sk_id_curr', how='left')

,sk_id_curr,name_contract_type_x,code_gender,flag_own_car,flag_own_realty,cnt_children,amt_income_total,amt_credit_x,amt_annuity_x,amt_goods_price_x,...,days_last_due,days_termination,nflag_insured_on_approval,sk_id_prev_y,months_balance,cnt_instalment,cnt_instalment_future,name_contract_status_y,sk_dpd,sk_dpd_def
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,-1619.0,-1612.0,0.0,1851984.0,-96.0,4.0,2.0,Active,0.0,0.0
1,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,-1619.0,-1612.0,0.0,1851984.0,-95.0,4.0,1.0,Active,7.0,7.0
2,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,-1619.0,-1612.0,0.0,1369693.0,-53.0,4.0,0.0,Completed,0.0,0.0
3,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,-1619.0,-1612.0,0.0,1369693.0,-54.0,4.0,1.0,Active,0.0,0.0
4,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,-1619.0,-1612.0,0.0,1851984.0,-93.0,4.0,0.0,Completed,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11299935,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,-377.0,-374.0,1.0,1081068.0,-6.0,12.0,8.0,Active,0.0,0.0
11299936,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,-377.0,-374.0,1.0,1922117.0,-34.0,6.0,5.0,Active,0.0,0.0
11299937,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,-377.0,-374.0,1.0,1922117.0,-35.0,6.0,6.0,Active,0.0,0.0
11299938,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,-377.0,-374.0,1.0,1081068.0,-7.0,12.0,9.0,Active,0.0,0.0
11299939,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,-377.0,-374.0,1.0,1081068.0,-10.0,12.0,12.0,Active,0.0,0.0

In [20]:
repayment_history = pd.read_csv('DataSet/repayment_history.csv')

merged_loan_data.merge(repayment_history, on='sk_id_curr', how='left')

MemoryError: Unable to allocate 9.70 GiB for an array with shape (85, 15319963) and data type float64

In [ ]:
credit_bureau_balance = pd.read_csv('DataSet/credit_bureau_balance.csv')

merged_loan_data.merge(credit_bureau_balance, on='sk_id_curr', how='left')

In [ ]:
merged_loan_data